@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.01);
}


/* Tailwind의 global CSS 파일에 추가 */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* 웹킷 브라우저에서 스크롤바 숨기기 */
}
.no-scrollbar {
  -ms-overflow-style: none; /* 인터넷 익스플로러에서 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}
